.greatcofee__title{
  color: rgb(254, 252, 247);
font-size: 72px;
font-weight: 900;
line-height: 72px;
margin-bottom: 32px;
}
.greatcofee__text{
  color: rgb(254, 252, 247);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 56px;
}
.greatcofee__btn{
  color: rgb(254, 252, 247);
font-size: 18px;
font-weight: 900;
line-height: 25px;
border-radius: 6px;
background-color: rgb(102, 210, 207);
padding: 15px 30px;
border: none;
}
.greatcofee__box{
  background-image: url("../../img/greatcofebgimg.jpeg");
  background-repeat: no-repeat;
  padding: 100px 300px 100px 86px;
}


@media screen and (max-width:700px) {
    .greatcofee__box{
      text-align: center;
      width: 100%;
      background-image: url("../../img/grcofebgimg2.jpeg");
      background-size:cover;
      padding: 100px 50px;
      
    }
   



}

@media screen  and (max-width:580px){

  .greatcofee__box{
    background-image: url("../../img/grcofebgimg3.jpeg");
    .greatcofee__content{
      max-width: 500px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    
  }

}